@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body  {
  font-family: Montserrat;
  display: flex;
  direction: row;
  
  #footerEsque {
    width: 100vw;
    bottom: 0%;
    position: fixed;
    margin: 0px;
    padding: 0px;
  }
  
  #sider{
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    width: 30%;
    height:80%;
    left: 0px;
    position: fixed;
    border-style:groove;
    border-width: 20px;
    border-radius: 3%;
    border-color: cornsilk; 
    border-top: none;
    
  }
  // .listener{
    //   height:100%;
    //   width:100%;
    // }
    
    #appContainer{
      display: flex;
      justify-content: space-around;
      width:100%;
      height:100%;
      
    }
  
    .Lyrics {
      width: 70vw;
      position: absolute;
      right: 20px;
      .format-lyrics {
    
        white-space: pre-wrap;
        color: blueviolet;
        text-align: center;
      }
    
      .favor-button{
        color: red;
      }
      .unfavor-button{
        color:grey
      }
    }
    
  }