#favourite1{
  padding-top: 10vh;
  padding-left: 40vw;
  font-family: "Montserrat";
  color: white;
  display: flex;
  flex-direction: column;
  // align-items: center;
}


  .item {
    display: flex;
    direction: row;
    border-style: dotted;
    align-items: center;
    img {
      width: 150px;
      margin: 5px 20px 5px 5px;
      border-radius: 100%;
    }
  }

  


