#history1{
  padding-top: 10vh;
  padding-left: 25vw;
  font-family: "Montserrat";
  color: white;
  display: flex;
  flex-direction: column;
  // align-items: center;
  height: 60vh;
  font-size: 25px;
}

.item {

  display: flex;
  direction: row;
  border-style: 2px solid black;

  
  align-items: center;
  img {
    width: 125px;
    margin: 5px 20px 5px 5px;
    border-radius: 100%;
  }
}

.item:hover {
  background-color: rgb(215, 200, 162);
  z-index: 1000;
}

#margin-bottom {
  margin-bottom: 12vh;
}

