.musicList{
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: end;
    height: 50vh;
    width: 100vw;
    padding-left: 50vw;
    top: 5vw;
    font-family: "Montserrat";
}