.list-container{
 
    padding-top: 10vh;
    padding-left: 25vw;
    font-family: "Montserrat";
    color: white;
    display: flex;
    flex-direction: column;
    height: 60vh;
  }
  #songList{

    font-size: 25px;
  }
  .item {
    
  
    display: flex;
    direction: row;
    border-style: 2px solid black;
  
    
    align-items: center;
    img {
      width: 150px;
      margin: 5px 20px 5px 5px;
      border-radius: 100%;
    }
  }

  .eachItem:hover {
    background-color: rgb(215, 200, 162);
  }

  #listPic{
    
    border-radius: 100%;
    margin: 5px 0;
  }