.play {
  width: 100vw;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
//  border-style:groove;
//  border-width: 20px;
//  border-radius: 3%;
//  border-color: cornsilk;
display: flex;
direction: row;
height: 20%;
// justify-content: center;
  .playerButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .playButton {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid tan;
    margin-left:  20px;
    margin-right: 20px;
    
  }

  .playButton-play {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 2px solid tan;
    margin-left:  20px;
    margin-right: 20px;
    
  }
  

  .previous {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid tan;
  }
  
  .next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid tan;
  }

  
  .progressBar-layout {
    width: 40vw;
    left: 50px;
    display: flex;
    direction: rows;
    align-items: center;
    margin: 0 30px;
  }

  .progressBar {
    --bar-bg: #ffe3d4;
    --seek-before-width: 100%;
    --seek-before-color: #ffc2a1;
    --knobby: #3452a5;
    --selectedKnobby: #26c9c3;

    
    background: var --bar-bg;
    border-radius: 10px;
    position: relative;
    width: 80%;
    height: 11px;
    margin: 0 20px;
  }

  .progressBar::-moz-focus-outer {
    border: 0;
  }

  .progressBar::before {
    content: "";
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }

  /* knobby */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    // border-radius: 50%;
    // border: none;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }

  .playList {
    position: absolute;
    right: 30px;
    margin-top: 20px;
  }
  .volume {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid tan;
    margin-left: 25px;
  }
  .volumeBar {
    margin-left: 25px;
  }
}
