@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.listener{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    
}

#coolLabel{
    font-size: 185px;
}

#listenbutton{
    border-radius: 100%;
    background-color:#619b8a;;
    border: none;
    height: 155px;
    width: 155px;
    border-color: #619b8a;

}

#ear{
    font-size: 107px;
    color: white;
}
#listenbutton:hover {
    background-color:rgb(98, 207, 109);
}

#notear{
    font-size: 107px;
    color: white;

}

.listener{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}