@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.listener{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    
}

#coolLabel{
    font-size: 200px;
}

#listenbutton{
    border-radius: 100%;
    background-color:#008CBA;;
    border-width: none;
    height: 15%;
    width: 15%;
}

.listener{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}